<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012619304116-479dg3l1p1ks1sn7dgu6gs10ld1om15m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012619304116-479dg3l1p1ks1sn7dgu6gs10ld1om15m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1012619304116-jr71gsgcsrocgj31a7us3h4jjo9cgvpf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBs0c8YOz_Pr41Euef2HMSgXJpu-lGwurI</string>
	<key>GCM_SENDER_ID</key>
	<string>1012619304116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyapproach.phoneVerification</string>
	<key>PROJECT_ID</key>
	<string>phone-auth-f997e</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-auth-f997e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012619304116:ios:1f2e2eda9478c35a468be1</string>
</dict>
</plist>